<link rel="stylesheet" href="/css/user_profile.css">
<p>Codeial / User Profile </p>

<% if(user.id == profile_user.id){ %>
    <form action="/users/update/<%= profile_user._id %>" method="POST">
        <input type="text" name="name" placeholder="Enter Name" value="<%= profile_user.name %>">
        <input type="email" name="Email" placeholder="Enter email" value="<%= profile_user.email %>">
        <input type="submit" value="Update">
    </form>
    <%}else{%>
        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>
    <%}%>


  